RESEARCH_BOT_API_HOST=127.0.0.1
RESEARCH_BOT_API_PORT=8000
RESEARCH_BOT_MARKET_DATA_PROVIDER=mock
RESEARCH_BOT_DUCKDB_PATH=
RESEARCH_BOT_DATA_DIR=
RESEARCH_BOT_DEFAULT_SYMBOLS=005930,000660,035420,051910,105560,068270
RESEARCH_BOT_MARKET_OPEN_TIME=09:00
RESEARCH_BOT_OPENING_CUTOFF_TIME=10:00
RESEARCH_BOT_CORS_ORIGINS=http://127.0.0.1:5173,http://localhost:5173
RESEARCH_BOT_KIS_BASE_URL=
RESEARCH_BOT_KIS_APP_KEY=
RESEARCH_BOT_KIS_APP_SECRET=
RESEARCH_BOT_KIS_API_TIMEOUT_SECONDS=15
RESEARCH_BOT_KIS_TOKEN_REFRESH_BUFFER_SECONDS=300
RESEARCH_BOT_KIS_UNIVERSE_MARKETS=KOSPI,KOSDAQ
